body {
display: flex;
  justify-content: center;
  align-items: center;
    width: 100%; 
  height: 100%;
  background-color: #262626;
  overflow: hidden;
}

.iframe {
  float: center;
    width: 90%; 
  height: 80%;
  text-align: center;
}
iframe {
  float: center;
    width: 90%; 
  height: 90%;
  text-align: center;
}
.fullscreen {
  padding-left: 88.2%;
  font-size: 20;
  border-radius: 8px;
}
.abc {
  float: center;
}
